*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header{
    padding: 20px;
    background-color: rgb(255, 140, 0);
    margin-bottom: 20px;
}
header h1{
    color: white;
    text-align: center;
}
.center{
    margin: 0px 20% 0px 20%;
    display: flex;
    justify-content: center;
    background-color: rgba(159, 159, 159,0.2);
    padding: 20px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0,0.2);
}
h3{
    margin: 10px 0px 0px 0px;
    text-align: center;
    font-size: 20px;
}
input{
    text-align: center;
    width: 100%;
    height: 30px;
}
button{
    margin: 10px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: rgb(247, 144, 0);
}
.salida{
    width: 500px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
}